.contatoAluno3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

.teste{
width:350px;
height: auto;

}

#imprimir{
    float: right;
}

#bott{
    display: block;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; 
    background-color: #FFF;
    -webkit-box-shadow: 1px 1px 5px #808080;
    -moz-box-shadow: 1px 1px 5px #808080;
    box-shadow: 1px 1px 5px #808080;  
    padding: 10px;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    position: relative;

}