#perfilADM{
    
    width: 100%;
    height: auto;
  
}


body, button{
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;  
       letter-spacing: 1px;}
          
    .form-inline{ 
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        
}
    .form-group{ 
    margin-left: 12px;
    margin-right: 10px;}
        
.container2{
    width: 81%;
    margin-bottom: 1%;
    margin-left: 9.2%;  
     }

    
#cadastros{
    
    width: 100%;
    height: auto;
  
}

#listado{
    width: 90%;

}
