@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic");
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

main {
  margin-left: 100px;
  padding: 20px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 30px;
}
nav#sidebar {
  background-color: #34495e;
  position: fixed;
  width: 100px;
  height: 100%;
}
ul.dots * {
  /* disable border-box from bootstrap */
  box-sizing: content-box;
  list-style-type: none;  
}
ul.dots a {
  margin-top: 10vh;
  text-decoration: none;
  font-size: 20px;
  color: #34495e;
}
ul.dots a:hover {
  text-decoration: none;
  font-size: 20px;
  color: #bdc3c7;
}
ul.dots li {
  margin-left: -20%;
  margin-top: 4vh;
  display: box;
  position: relative;
  width: 100%;
  padding: 10px 0 ;  
}
ul.dots li:hover {
  background: #2c3e50;
}
ul.dots li span {
  display: block;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  background-color: #FFF;
  -webkit-box-shadow: 1px 1px 5px #808080;
  -moz-box-shadow: 1px 1px 5px #808080;
  box-shadow: 1px 1px 5px #808080;  
  padding: 10px;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  position: relative;
}

li {
  list-style-type: circle;
}

code {
  background: #ecf0f1;
}

/******* FIM CSS DA NAV BAR***************************************************************/

body{
  
  background-image: url(../images/img_login.jpg);

}

/******* CSS BODY PLANO DE FUNDO ***************************************************************/

/*CSS Conteudo*/
#perfilAluno{
   
  width: 100%;
  height: auto; 

}

input.hidden {
    position: absolute;
    width: 100%;
}

#profile-image1 {
    cursor: pointer;
    width: 100px;
    height: 100px;
      border:2px solid #03b1ce ;}
      .title{ font-size:16px; font-weight:500;}
      .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	

.panel-default{
    width: 175%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 8%;
    left: 25%;    
     }

.panel-heading{
  width: 100%;
  margin: auto;
   }
   
.panel-body{
  width: 100%;
}
    
#eventos{

  width: 100%;
}

#mensagens{

  width: 100%;
  height: auto;

}


/*FIM CSS Conteudo*/


/* imagem do logo */

.image-logo{
  width: 80px;
  height: 10vh;
}

.image-logo img{
  margin-left: -37%;
  margin-top: 2vh;
  width: 100%;
}

/* fim imagem do logo */

/* ********************************************************** */

