*{
    font-family: 'Montserrat', sans-serif;
  }



#login-footer {
    color: #3499DB;
    background-color: white;
    padding: 3rem 0;
    font-size: 1.6rem;
  }

  header {
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    min-height: 500px;
    
  }

  /* css do form */


