*{
    font-family: 'Montserrat', sans-serif;
  }



#login-footer {
    color: #3499DB;
    background-color: white;
    padding: 3rem 0;
    font-size: 1.6rem;
  }

  header {
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-position: center;
    height: 98vh;
    min-height: 500px;
    
  }

  /* css do form */
 

  body, html {
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color: #555;
    height:100%;
  }
  
  * {margin:0;padding:0;border:0;}
  
  .container {
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  
  .login {
    width:400px;
    transition: all 0.2s ease-out;
    position: relative;
    border-radius: 2px;
    background: hsla(0,0%,90%, 1);
    box-shadow: 0 10px 10px -10px hsla(0,0%,0%,0.2); 
  }
  
  .login__form {
    background:white;
    padding: 3em 3em 4em 3em;
    transition: all 0.2s ease-out;
  }
  
  .login:hover {
    transform: scale(1.05);
    box-shadow: 0 40px 10px -20px hsla(0,0%,0%,0.1); 
  }
  
  .login__iframe {
    display:none;
    position: relative;
    z-index: 0;
    width:100%;
    height:300px;
  }
  
  .login__title {
    margin-bottom: 2em;
    font-size: 1.2em;
    color:  #71d0b4;
  }
  
  .login__title--grey {
    color: #bbb;
    font-size: 0.8em;
  }
  
  input {
    outline: none;
 
    font-size: 1em;
    display:block;
    padding: 1em 1.5em;
    margin-bottom: 1em;
    background:rgb(245,245,245);
  }
  

  
  input[type=text], input[type=password] {
    border: 1px dashed transparent;
    transition: all  0.2s ease-out;
    box-sizing: border-box;
    border-radius: 6px;
    color: #bbb;
    width:100%;
  }
  
  input[type=text]:hover, input[type=password]:hover {
    border:1px dashed  #71d0b4;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    border:1px dashed  #71d0b4;
    color: #71d0b4;
  }
  
  .login__hi {font-size:1.2em;}
  
  .login__button {
    cursor:pointer;
    overflow:hidden;
    text-align:left;
    transition: all  0.1s ease-out;
    box-sizing: border-box;
    position: absolute;
    background:  #71d0b4;
    color:white;
    margin:0;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    bottom: -1.5em;
    left: 50%;
    margin-left:-1.5em;
  }
  
  .login__button--conf {
    cursor:pointer;
    transition: all  0.2s ease-in;
    font-size:0.8em;
    border-radius: 6px;
    letter-spacing: 5px;
    font-weight:bold;
    background: none;
    color:white;
    margin: 2em 0;
    border: 1px solid white;
    padding: 1em 3em;
  }
  
  
  
  .login__small {
    font-size: 0.8em;
  }
  
  
  .login__abort {
    color:white;
  }
  
  .login__button:before {
    content:'';
    display: inline-block;
    height:100%;
    width:0;
    margin:0;
    padding:0;
    vertical-align:middle;
  }
  

  
  .login[data-state=loadingPrepare] .login__form,
  .login[data-state=loadingStart] .login__form,
  .login[data-state=loading] .login__form,
   .login[data-state=loadingEnd] .login__form {
    opacity:0.5;
  }
  
 
  
  .login__icon {
    display:inline-block;
    width:100%;
    margin: 0 auto;
    vertical-align:middle;
    text-align:center;
  }
  
  
  
  .icon--ok,
  .icon--exit,
  .login[data-state=loadingEnd] .login__icon,
  .login[data-state=loadingStart] .login__icon,
  .login[data-state=loading] .login__icon,
  .login[data-state=loadingEndOk] .icon--enter,
  .login[data-state=loadingEndKo] .icon--enter {display:none;}
  
  .login[data-state=loadingEnd] .icon--ok {
    opacity:0;
    display:inline-block;
  }
  
  .login[data-state=loadingEndOk] .icon--ok {
    transition: all 0.4s ease-in;
    opacity:1;
    display:inline-block;
  }
  
  .login[data-state=loadingEndKo] .icon--ko {
    transition: all 0.4s ease-in;
    opacity:1;
    display:inline-block;
  }
  
  .login[data-state=loadingEndOk] .login__icon i {
    font-size:5em;
    vertical-align:middle;
  }
  
  
  .login[data-state=loadingAccess] .login__form {
    display:none;
  }
  
  
  .login[data-state=loadingAccess] .login__iframe {
    display:block;
  }
  
  .login[data-state=loadingAccess] {
    width:1024px;
    height:100%;
  }
  
  .login[data-state=loadingAccess] .login__button {
    transition: all 0.3s ease-out;
    bottom: 100%;
    left:100%;
    margin-left:-6em;
    transform: translateY(50%);
  }
  
  .login[data-state=loadingAccess] .icon--ok,
  .login[data-state=loadingAccess] .icon--enter,
  .login[data-state=loadingAccess] .icon--ko {
    display:none;
  }
  
  .login[data-state=loadingAccess]  .icon--exit {display:inline-block;}

  

  /* css do botao */
  form button {
    width: 100%;
      margin-top: 35px;
      padding:  15px 10px;
      background: #71d0b4;
      color: #fff;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      outline: 0;
      border-radius: 5px;
      opacity: 0.65;
      transition: all .3s;
      letter-spacing: 7px
  }
  form button:hover {
      opacity: 1;
      letter-spacing: 3px
  }




@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

svg{
  width:100%;
}

